.vertical-flex {
  display: flex;
  flex-direction: column;
  position: relative;
}
.autocomplete-container {
  position: relative;
  left: -10px;
  top: 1px;
  color: #f5c396;
  margin-right: -18px;
  max-width: 400px;
}

.autocomplete-box {
  border-left: 1px solid #f5c396;
  border-right: 1px solid #f5c396;
  border-bottom: 1px solid #f5c396;
  border-radius: 2px;
  position: absolute;
  background-color: white;
  width: 100%;
}

.autocomplete-box :hover {
  cursor: pointer;
  background-color: #fef9f4;
  color: #f5c396;
}

.title {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  font-size: 40px;
  font-weight: 40;
}

.form-style {
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  border-radius: 2px;
  padding: 20px;
  font-family: "Cardo", serif;
}

.form-style ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.form-style li {
  display: block;
  padding: 9px;
  border: 1px solid #f5c396;
  margin-bottom: 30px;
  border-radius: 3px;
}
.form-style li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}
.form-style li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #ffffff;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #f5c396;
  font-size: 14px;
  overflow: hidden;
  font-family: "Cardo", serif;
}
.form-style input[type="text"],
.form-style input[type="number"],
.form-style input[type="url"],
.form-style input[type="tel"],
.form-style select {
  box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  padding: 0;
  color: #ba5a31;
  font-family: "Cardo", serif;
}

.form-style input[type="file"] {
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-radius: 3px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  color: #ba5a31;
  font-family: "Cardo", serif;
}

.form-style textarea {
  display: block;
  outline: none;
  border: none;
  color: #ba5a31;
  font-family: "Cardo", serif;
}

.form-style select:focus,
.form-style li > span {
  background: #f5c396;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #ba5a31;
  font-family: "Cardo", serif;
  font-size: 11px;
}
.form-style textarea {
  resize: none;
}
.form-style input[type="submit"] {
  background: #f5c396;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 2px;
  color: #ba5a31;
  margin-left: 130px;
}
.form-style input[type="submit"]:hover {
  background: #ba5a31;
  color: #f5c396;
}

.childAuto {
  width: 100%;
}

.tag {
  background: #fef9f4;
  color: #ba5a31;
  margin: 10px;
  border: 1px solid #f5c396;
  border-radius: 2px;
  position: relative;
  padding-right: 20px;
}

.tag p {
  margin: 3px 8px 3px 7px;
  font-weight: bold;
  color: #f5c396;
  margin-right: 0;
}

.tag button {
  border: none;
  background: #fef9f4;
  color: #f5c396;
  margin-left: 2px;
  margin-right: 0px;
  font-weight: bold;
  padding-right: 0px;
}

.tag button:hover {
  color: #ba5a319f;
}

.add {
  border: none;
  background: transparent;
  color: #f5c396;
  margin-left: 2px;
  margin-right: 0px;
  font-weight: bold;
  padding-right: 0px;
  z-index: 1;
  position: absolute;
  top: 7px;
  left: 350px;
  padding: 5px;
}
.add:focus {
  outline: 0;
}
.add:hover {
  cursor: pointer;
  color: #ba5a319f;
  border: none;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.delete-tag {
  position: absolute;
  top: -7px;
  right: -7px;
  background: transparent;
  color: transparent;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 0;
}

.delete-tag:hover {
  cursor: pointer;
  background: #fef9f4;
  color: #f5c396;
  border: 0.5px solid #f5c396;
}

.custom-file-input {
  color: transparent;
  margin: 20px 10px 0px 80px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Add images";
  color: #ba5a31;
  background-color: #f5c396;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10pt;
  padding: 10px;
}
.custom-file-input:hover::before {
  background-color: #ba5a31;
  color: #f5c396;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.last-file {
  margin-bottom: 50px;
}

.last-file span {
  margin-left: 100px;
  font-size: 6px;
  padding: 0;
  font-style: italic;
  color: #ba5a31;
}
