.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  margin: 1em;
}

.cafe-card {
  align-items: center;
  max-width: 3000px;
  margin: 36px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  line-height: 2.5;
  background: none;
  font-size: 18px;
  position: relative;
}

.cafe-photo {
  width: 300px;
  height: 300px;
}

.search-list {
  width: 30%;
  position: absolute;
  top: 18.9%;
  left: 25%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(208, 205, 205, 0.9); */
  padding: 20px 38px 20px 20px;
}

.searchTermList {
  width: 100%;
  background-image: url("/search.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 20px;
  background-color: #ecc8af;
  border: 1px solid #584d3d;
  padding: 8px;
  height: 29.5px;
  outline: none;
  color: #584d3d;
  font-size: 16px;
  font-family: "Cardo", serif;
  font-style: italic;
}

.mapButton {
  background-color: #ecc8af;
  border: 1px solid #584d3d;
}

.button-left {
  background-color: rgba(236, 200, 175, 0.4);
  position: absolute;
  top: 164px;
  left: 20px;
  height: 30px;
  width: 22px;
  z-index: 1;
  border: none;
  border-radius: 0 16px 16px 0;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0px;
  color: #fff;
  cursor: pointer;
}

.button-right {
  background-color: rgba(236, 200, 175, 0.4);
  z-index: 1;
  top: 164px;
  left: 298px;
  height: 30px;
  width: 22px;
  z-index: 1;
  border: none;
  border-radius: 16px 0px 0px 16px;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0px;
  color: #fff;
  position: absolute;
  cursor: pointer;
}

button-right:hover {
  background-color: rgba(186, 90, 49, 0.9);
}

button-left:hover {
  background-color: rgba(186, 90, 49, 0.9);
}
