.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.cafe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  position: relative;
  width: 400px;
  line-height: 2.5;
  font-size: 18px;
}

.cafe-photo {
  width: 400px;
  height: 248px;
}

.desc {
  align-content: center;
  line-height: 1.5;
  margin-bottom: 3%;
}

.search-list {
  display: flex;
  padding: 20px 38px 20px 20px;
}

.searchTermList {
  width: 100%;
  background-image: url("/search.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 20px;
  background-color: #ecc8af;
  border: 1px solid #584d3d;
  padding: 8px;
  height: 20px;
  outline: none;
  color: #584d3d;
  font-size: 14px;
  font-family: "Cardo", serif;
  font-style: italic;
}

.mapButton {
  background-color: #ecc8af;
  border: 1px solid #584d3d;
}

.button-left {
  background-color: rgba(236, 200, 175, 0.7);
  position: absolute;
  top: 117px;
  left: 0px;
  height: 30px;
  width: 22px;
  z-index: 1;
  border: none;
  border-radius: 0 16px 16px 0;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0px;
  color: #fff;
  cursor: pointer;
}

.button-right {
  background-color: rgba(236, 200, 175, 0.7);
  z-index: 1;
  top: 117px;
  right: 0px;
  height: 30px;
  width: 22px;
  z-index: 1;
  border: none;
  border-radius: 16px 0px 0px 16px;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0px;
  color: #fff;
  position: absolute;
  cursor: pointer;
}

button-right:hover {
  background-color: rgba(186, 90, 49, 0.9);
}

button-left:hover {
  background-color: rgba(186, 90, 49, 0.9);
}

.global {
  min-height: calc(100vh - 90px);
}
