.footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-top: 0.1px solid #969696;
}

.owner-button {
  position: absolute;
  margin-bottom: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #584d3d;
  cursor: pointer;
}

.owner-button:hover {
  color: #ba5a31;
}
