html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.body {
  height: 100%;
}

h1 {
  color: #ba5a31;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #ba5a31;
  font-family: "Montserrat", sans-serif;
}

p {
  color: #584d3d;
  font-family: "Cardo", serif;
}

.button {
  border: none;
  background-color: #ba5a31;
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 2px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.button:hover {
  background-color: #d69f73;
}

.button:focus {
  outline: 0;
}

.hero-image {
  background-image: url("/cafe.jpg");
  height: 100%;
  margin: -24px, -48px, -48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-head {
  font-size: 40px;
  text-align: center;
}

.featCafe {
  width: 70%;
  position: absolute;
  left: 17%;
  font-size: 45px;
  text-align: center;
  line-height: 2.5;
}

.seeMore {
  text-decoration: none;
  font-size: 24px;
  background-color: #ba5a31;
  font-family: "Montserrat", sans-serif;
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.seeMore:hover {
  background-color: #d69f73;
}

.linkBack {
  background-color: #faddc8;
  padding: 40px;
  margin: -24px, -48px;
}

.logo-main {
  padding: 20px;
}

.logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  left: 50%;
  margin-left: -110px;
  bottom: -90px;
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
  width: 220px;
  height: 220px;
}

.nav-logo {
  margin-left: 10px;
}

.nearby {
  text-decoration: none;
  font-size: 16px;
  background-color: #ba5a31;
  font-family: "Montserrat", sans-serif;
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  color: white;
  border-radius: 2px;
}

.nearby:hover {
  background-color: #d69f73;
}
