.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1px solid #969696;
  height: 60px;
  color: #584d3d;
}

.cafes {
  margin-right: 30px;
}

.allCafes {
  text-decoration: none;
  font-size: 16px;
  background-color: #ba5a31;
  font-family: "Montserrat", sans-serif;
  display: block;
  width: 100px;
  margin: 0 auto;
  text-align: center;
}

.allCafes:hover {
  background-color: #d69f73;
}

.search-list {
  display: flex;
}

.searchTermList {
  width: 500px;
  background-image: url("/search.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 20px;
  background-color: #ecc8af;
  border: 1px solid #584d3d;
  padding: 8px;
  height: 20px;
  outline: none;
  color: #584d3d;
  font-size: 15px;
  font-family: "Cardo", serif;
  font-style: italic;
}
