.review-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-header {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text-splash {
  position: absolute;
  z-index: 10;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 10px 0 20px 0;
  margin: 10px 0 0 0;
  padding: 20px;
  width: 70%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cafe-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.average-rating {
  text-align: center;
}

.review-list-container {
  margin: 50px 0 0 0;
  width: 95%;
}

.review-title {
  color: #ba5a31;
  font-family: "Montserrat", sans-serif;
}

.review {
  padding: 20px 0 20px 0;
  border-top: 1px solid rgba(150, 150, 150, 0.3);
}

.review-list {
  list-style-type: none;
  text-align: justify;
  margin: 0 20px 0 20px;
}

.add-review {
  text-align: left;
}

.add-review-container {
  display: flex;
}

.review-name-rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.review-p {
  color: #707070;
}

.reviewer {
  color: #584d3d;
  font-size: 20px;
}

.button-margin {
  margin: 20px 0 20px 0;
}

.review-response {
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 15px;
  border-left: 2px solid rgba(150, 150, 150, 0.6);
}

.response-name {
  color: #584d3d;
  margin-bottom: 5px;
  font-weight: bold;
}

.response {
  color: #707070;
}

@media screen and (min-width: 768px) {
  .text-splash {
    top: 20%;
  }

  .review-list-container {
    margin: 110px 0 0 0;
  }

  .popup-inner-reviews {
    width: 90%;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .text-splash {
    top: 20%;
  }

  .review-list-container {
    margin: 110px 0 0 0;
  }

  .popup-inner-reviews {
    width: 50%;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
  }
}
